#folders
logs
venv
results_test_benczechmark
logs_benczechmark
results
__pycache__
wandb
*_itformat
data
models
outputs
unsloth_compiled_cache
_unsloth_temporary_saved_buffers
output_models

#files
tokens.py
config.txt