#folders
logs
venv
results_test_benczechmark
logs_benczechmark
results
__pycache__
wandb
*_itformat
data
models
outputs
unsloth_compiled_cache
_unsloth_temporary_saved_buffers
output_models
tokenizers
.neptune
nsys

#files
tokens.py
config.txt

*.code-workspace

wildbench_result_dirs
python
perplexity_results
bcm